<section class="notes mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="editor__container">
          <form #noteForm="ngForm" (ngSubmit)="noteForm.valid && saveNote()">
            <div class="input-group">
              <app-ngx-editor [config]="editorConfig" [(ngModel)]="note.content" name="content" resizer="basic"></app-ngx-editor>
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary">Zapisz notatkę</button>
            </div>
          </form>

        {{note.content}}
      </div>
    </div>
    </div>
  </div>

  <p *ngFor="let message of messages"></p>
</section>
