@import 'scss/reset';
@import 'scss/variables';
@import 'scss/global';
@import 'scss/mixin';

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
  position:relative;
  padding:4em 0 4em 0;
  margin:0;
}
