@import 'scss/reset';
@import 'scss/variables';
@import 'scss/global';
@import 'scss/mixin';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
// @import '../node_modules/font-awesome/css/font-awesome.min.css';
// @import '../node_modules/alertifyjs/build/css/alertify.min.css';
// @import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
  position:relative;
  padding:4em 0 4em 0;
  margin:0;
}
