@import 'scss/reset';
@import 'scss/variables';
@import 'scss/global';
@import 'scss/mixin';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

*{
  box-sizing: border-box;
}

html{
  min-height: 100%;
  position:relative;
}

body{
  background: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(./assets/images/bodyBcg.jpeg) center/cover no-repeat;
  min-height: 100%;
  margin:0;
}
