@import '../../scss/variables';
@import '../../scss/mixin';

.home{
  position: relative;
  height: calc(100vh - 5em);

  @media screen and(min-width: $tablet-resolution) {
    height: calc(100vh - 7em);
  }

  @media screen and(min-width: $big-tablet-resolution) {
    height: calc(100vh - 12em);
  }

  .home__gallery{
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;

      .home__gallery-image{
        height: 100%;
        width: 100%;
        filter: opacity(0.75);
      }
    }

  .home__container{
    @include flexDisplay(column, center, center);
    font-family: 'Pacifico', cursive;

    .home__welcome{
      margin: 3em auto 15% auto;

      @media screen and(min-width: 400px){
          margin: 8em auto 20% auto;
      }

      @media screen and(min-width: 530px){
          margin: 4em auto 10% auto;
      }

      @media screen and(min-width: $big-mobile-resolution){
          margin: 7em auto 20% auto;
      }

      @media screen and(min-width: 640px){
          margin: 4em auto 10% auto;
      }

      @media screen and(min-width: $tablet-resolution){
        margin: 8em auto 25% auto;
      }

      @media screen and(min-width: 812px){
        margin: 5em auto 7% auto;
      }

      @media screen and(min-width: $big-tablet-resolution){
        margin: 7em auto 25% auto;
      }

      @media screen and(min-width: $desktop-resolution){
        margin: 2em auto 25% auto;
      }

      .home__welcome-title{
        font-size: 2.5em;
        color: $font-color-primary;
        text-align: center;

        @media screen and(min-width: $big-mobile-resolution){
          font-size: 3.2em;
        }

        @media screen and(min-width: $tablet-resolution){
          font-size: 4em;
        }

        @media screen and(min-width: $desktop-resolution){
          font-size: 5em;
        }
      }
    }

    .home__info{
      padding: 1em;

      @media screen and(min-width: $desktop-resolution){
          padding: 2em;
      }

      .home__info-text{
        font-size: 1em;
        color: $font-color-primary;
        width: 20em;

        @media screen and(min-width: $big-mobile-resolution){
          font-size: 1.75em;
        }

        @media screen and(min-width: $desktop-resolution){
          font-size: 2.5em;
        }
      }
    }
  }
}
