<section class="home">
  <div class="home__gallery">
    <img class="home__gallery-image" src="../../assets/images/book-communication-composition-1120347.jpg"/>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="home__container">
          <div class="home__welcome">
            <h1 class="home__welcome-title">Witaj w świecie notatek!</h1>
          </div>
          <div class="home__info">
            <p class="home__info-text" typingAnimation [typeSpeed]="200" [hideCursorOnComplete]="true" [startDelay]="2000">Wkraczasz w świat wspaniałych notatek i złotych myśli.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
