<nav class="menu">
  <div class="container">
    <div class="menu__container">
      <div class="menu__logo">
        <h4 class="menu__logo-title">AngularClient</h4>
      </div>
      <ul class="menu__links">
        <li class="menu__links-item"><a class="menu__links-item-link" href=""></a></li>
        <li class="menu__links-item"><a class="menu__links-item-link" href=""></a></li>
        <li class="menu__links-item"><a class="menu__links-item-link" href=""></a></li>
      </ul>
    </div>
  </div>
</nav>
