@mixin flexDisplay($tier, $horizontalAlignment, $verticalAlignment){
  display:flex;
  flex-direction: $tier;
  justify-content: $horizontalAlignment;
  align-items: $verticalAlignment;
}

@mixin noteDetail() {
  border-radius: 35px;
  margin: 2em;
  @include flexDisplay(column,center, flex-start);
  padding:3em;
  min-width: 20em;
  max-width: 50em;
  min-height: 20em;
}
