$font-color-primary: #270B2B;
$font-color-hover: rgb(76, 5, 85);
$font-color-hover2: #fbfbfb;

$background-color-button: #4169E1;


$desktop-resolution: 1600px;
$small-desktop-resolution: 1200px;
$big-tablet-resolution: 992px;
$tablet-resolution: 768px;
$big-mobile-resolution: 576px;
$biger-mobile-resolution: 480px;
$mobile-resolution: 360px;
$small-mobile-resolution: 320px;
