@import '../../../scss/mixin';
@import '../../../scss/variables';

.login{
  height: calc(100vh - 11em);
  width: 100vw;
  @include flexDisplay(column, center, center);
  position: relative;

  .background{
    background: url(../../../assets/images/img3.jpg) center/cover no-repeat;
    height: 98%;
    width: 96%;
    position: absolute;
    z-index: -2;
    filter: opacity(0.5);
  }
  .login__container{
    position: absolute;
    z-index: 5;
    bottom:-350px;
    @include flexDisplay(row, center, center);
    width:100%;

    .login__form{
      height: 50vh;
      width: 40%;

      .login__welcome{
        border-bottom: 2px solid black;
        margin-bottom: 2em;
        text-align: center;

        .login__welcome-title{
          font-family: 'Pacifico', cursive;
          color: $font-color-primary;
          font-weight: 500;
          font-size: 550%;
        }
      }
    }
  }
}
