@import '../../../scss/mixin';
@import '../../../scss/variables';

.login__container{
  @include flexDisplay(row, center, center);
  width:100%;

  .login__form{
  margin-top: 2em;
  width: 60%;

    .login__welcome{
      border-bottom: 2px solid black;
      margin-bottom: 2em;
      text-align: center;

      .login__welcome-title{
        color: $font-color-primary;
        font-weight: 500;
        font-size: 350%;
      }
    }
  }
}
