<section class="login">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="login__container">
          <form [formGroup]="loginForm" class="login__form" (ngSubmit)="logIn()">
            <div class="login__welcome">
              <h2 class="login__welcome-title">Logowanie</h2>
            </div>
            <div class="form__container">
              <input class="form__input"
                type="text"
                formControlName="username" placeholder="Login">
              <div class="error"
                *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">
                Login jest wymagany.
              </div>
            </div>
            <div class="form__container">
              <input class="form__input" type="password" formControlName="password" placeholder="Hasło">
              <div class="error"
                *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                Hasło jest wymagane.
              </div>
              <div class="error"
                *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
                Hasło musi mieć minimum 4 znaki.
              </div>
              <div class="error"
                *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">
                Hasło nie może przekraczać 8 znaków.
              </div>
            </div>
            <div class="form__container--buttons">
              <button class="button form__button" [disabled]="!loginForm.valid" type="submit">Zaloguj</button>
              <button class="button form__button" type="button" (click)="cancel()">Anuluj</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
