<section class="howUse">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="howUse__welcome">
          <header class="header">
            <h1 class="header__title">
              Instrukcja obsługi
            </h1>
          </header>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="howUse__description">
            <ul class="description__list">
              <li class="list__item">1</li>
              <li class="list__item">2</li>
              <li class="list__item">3</li>
              <li class="list__item">4</li>
              <li class="list__item">5</li>
              <li class="list__item">6</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
