@import '../../../scss/mixin';

.note-details{
  border: 0.5px solid black;
  @include noteDetail;
  background: darken(white, 5%);

}

.note-details--golden{
  background: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(../../../assets/images/gold.gif) center/cover no-repeat;
  border: 2px solid gold;
  @include noteDetail;
}

.form__button{
  width: 8em;
  font-size: 90%;
  outline: none;
}

.note-details__golden{
  margin: 0 auto;
  color: gold;
  font-weight: 900;
  font-family: 'Passion One', cursive;
}
