@import '../../../scss/mixin';

.note-details{
  border: 1px solid black;
  @include noteDetail;
  background: darken(white, 5%);

}

.note-details--golden{
  background: lighten(gold, 50%);
  border: 2px solid gold;
  @include noteDetail;
}

.form__button{
  width: 8em;
  font-size: 90%;
  outline: none;
}

.note-details__golden{
  margin: 1em auto;
  color: gold;

  .note-details__golden-title{

  }
}
