<section class="user-settings">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="user-settings__container">
          <div class="user-settings__welcome">
            <h2 class="user-settings__welcome-title">Ustawienia użytkownika</h2>
          </div>
          <div class="user-settings__settings">
            <div class="user-settings__mail">
              <h6 class="user-settings__mail-title">Twój Mail</h6>
              <form action="POST" class="user-settings__mail-form">
                <p>Mail: </p>
                <label for="mail">Wpisz swój nowy adres e-mail
                <input type="email" name="mail" id="mail">
                </label>
                <input type="submit" value="Zmień">
              </form>
            </div>
            <div class="user-settings__password">
              <h6 class="user-settings__password-title">Zmiana hasła</h6>
              <form action="POST" class="user-settings__password-form">
                <label for="password">Wpisz swoje nowe hasło
                  <input type="password" name="password" id="password">
                </label>
                <label for="password-repeat">Powtórz nowe hasło
                  <input type="password" name="password-repeat" id="password-repeat">
                </label>
                <input type="submit" value="Zmień">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
