<section class="user-settings">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="user-settings__container">
          <div class="user-settings__welcome">
            <h2 class="user-settings__welcome-title">Ustawienia użytkownika</h2>
          </div>
          <div class="user-settings__settings">
            <div class="user-settings__mail">
              <h6 class="user-settings__mail-title">Twój Mail</h6>
            </div>
            <div class="user-settings__password">
              <h6 class="user-settings__password-title">Zmiana hasła</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
