<section class="notes">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="notes__container">
          <form [formGroup]="noteForm" (ngSubmit)="noteForm.valid && saveNote()">
            <div class="notes__editor">
              <app-ngx-editor [config]="editorConfig" formControlName="content" name="content" resizer="basic"></app-ngx-editor>
            </div>
            <div class="form__container form__container--row">
              <label class="form__label">Czy to złota myśl? </label>
              <label class="form__label">
                <input type="radio" value="true" formControlName="goldenThought">
                <span class="checkmark"></span>
                Tak
              </label>
              <label class="form__label">
                <input type="radio" value="false" formControlName="goldenThought">
                <span class="checkmark"></span>
                Nie
              </label>
            </div>
            <div class="form__container--buttons">
                <button class="button form__button" [disabled]="!noteForm.dirty">Zapisz notatkę</button>
            </div>
          </form>
      </div>
    </div>
    </div>
  </div>
</section>
