<section class="notFound">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="notFound__container">
          <header class="notFound__info">
            <h2 class="info__title">Upsss... Przepraszamy, nie ma takiego adresu.</h2>
            <h3 class="info__subtitle">Spróbuj wpisać inny adres lub zaloguj się.</h3>
          </header>
          <div class="notFound__gallery">
            <img src="../../../assets/images/Screen-Shot-2016-12-09-at-5.09.38-PM.png" alt="Not Found Site" class="gallery__image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
