.notFound{

  .notFound__container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .notFound__info{

      .info__title{
        font-weight: bold;
      }

      .info__subtitle{
        text-align: center;
        margin: 2% 0;
      }
    }
  }
}

@keyframes shaking{
  0% {
    transform: rotateX('45');
  }
  50% {
    transform: rotate3d('30');
  }
  75% {
    transform: rotateX('-45');
  }
  100% {
    transform: rotate3d('-30');
  }
}
