@import '../../scss/mixin';
@import '../../scss/variables';
@import '../../scss/typography';

.footer{
  width:100%;
  position:absolute;
  bottom:0;

  @media screen and(min-width: $tablet-resolution) {
    height: 4em;
  }

  .footer__content{
    @include flexDisplay(row, space-between, center);
    font-family: 'Pacifico', cursive;

    .footer__logo{
      cursor: pointer;

      .footer__logo-title{
        font-size: 2em;

        .title__link{
          color: $font-color-primary;
          text-decoration: none;
        }
      }
    }

    .footer__list{
      @include flexDisplay(row, space-between, center);

      .list__item{

        @media screen and(min-width: $tablet-resolution) {
          font-size: 1.3em;
          margin-right: 1em;
        }

        &:hover{
         background: $background-color-button;
         .list__link{
          color: $font-color-hover2;
          }
        }

        .list__link{
          text-decoration: none;
          color: $font-color-primary;
        }
      }
    }
  }
}
