@import '../../scss/mixin';
@import '../../scss/variables';
@import '../../scss/typography';

.footer{
  width:100%;
  height: 4em;
  position:absolute;
  bottom:0;

  .footer__content{
    @include flexDisplay(row, space-between, center);
    font-family: 'Pacifico', cursive;

    .footer__logo{
      cursor: pointer;

      .footer__logo-title{
        font-size: 2.5em;

        .title__link{
          color: $font-color-primary;
          text-decoration: none;
        }
      }
    }

    .footer__list{
      @include flexDisplay(row, space-between, center);

      .list__item{
        margin-right: 1em;
        border: 1px solid $font-color-primary;
        padding: 0.5em;
        border-radius: 30px;

        &:hover{
         background: $background-color-button;
         .list__link{
          color: $font-color-hover2;
          }
        }

        .list__link{
          text-decoration: none;
          color: $font-color-primary;
        }
      }
    }
  }
}
