<nav class="menu">
  <div class="container">
    <div class="menu__container">
      <div class="menu__logo">
        <h4 class="menu__logo-title"><a href="" class="title__link">NotesForYou</a></h4>
      </div>
      <ul class="menu__links">
        <li class="menu__links-item"><a class="menu__links-item-link" href="">Sprawdź jak działa notatka</a></li>
        <li class="menu__links-item"><a class="menu__links-item-link" href="">Zaloguj się</a></li>
        <li class="menu__links-item"><a class="menu__links-item-link" href="">Stwórz konto</a></li>
      </ul>
    </div>
  </div>
</nav>
