<nav class="menu">
  <div class="container">
    <div class="menu__container">
      <div class="menu__logo">
        <h4 class="menu__logo-title"><a href="" class="title__link">NotesForYou</a></h4>
      </div>
      <ul class="menu__links" *ngIf="!authService.loggedIn()">
        <li class="menu__links-item"><a class="menu__links-item-link" [routerLink]="['/notatkaPrzyklad']">Wypróbuj notatkę</a></li>
        <li class="menu__links-item"><a class="menu__links-item-link" [routerLink]="['/logowanie']">Zaloguj się</a></li>
        <li class="menu__links-item"><a class="menu__links-item-link" [routerLink]="['/rejestracja']">Stwórz konto</a></li>
      </ul>
      <ul class="menu__links" *ngIf="authService.loggedIn()">
        <li class="menu__links-item"><a class="menu__links-item-link" [routerLink]="['/dodajNotatke']">Dodaj notatkę</a></li>
        <li class="menu__links-item"><a class="menu__links-item-link" [routerLink]="['/twojeNotatki']">Twoje notatki</a></li>
        <li class="menu__links-item"><a class="menu__links-item-link" [routerLink]="['/ustawienia']">Twój profil</a></li>
        <li class="menu__links-item"><a class="menu__links-item-link" [routerLink]="['/logowanie']" (click)="logout()">Wyloguj się</a></li>
      </ul>
    </div>
  </div>
</nav>
