@import '../../scss/mixin';
@import '../../scss/variables';
@import '../../scss/typography';

.menu{
  height: 4em;
  position:absolute;
  top:0;
  left: 15%;

  .menu__container{
    margin: 1.5em 0;
    @include flexDisplay(row, space-between, center);

    .menu__logo{
      flex-basis: 40%;
      cursor: pointer;
      font-family: 'Permanent Marker', cursive;

      .menu__logo-title{
        font-size: 2.5em;

        .title__link{
          color: $font-color-primary;
          text-decoration: none;
        }
      }
    }

    .menu__links{
      font-family: 'Pacifico', cursive;
      flex-basis: 45%;
      @include flexDisplay(row, space-around, center);

      .menu__links-item{
        margin-right: 1em;
        border: 1px solid $font-color-primary;
        padding: 0.5em;
        border-radius: 30px;

        &:hover{
          background: $background-color-button;

          .menu__links-item-link{
            color: $font-color-hover2;
          }
        }

        .menu__links-item-link{
          text-decoration: none;
          color: $font-color-primary;

        }
      }
    }
  }
}
