@import '../../../scss/mixin';

.user-notes{
  padding-bottom: 5em;
  min-height: 100%;

  .user-notes__container{
    @include flexDisplay(row, center, center);
    flex-wrap: wrap;

    .empty__image{
      text-align: center;
      margin: 2em;
      height: 20em;
      width: 20em;
    }
  }
}

