<video autoplay muted loop class="background">
  <source src="../../../assets/images/vid1.mp4" type="video/mp4">
</video>
<section class="register">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="register__container">
          <form [formGroup]="registerForm" (ngSubmit)="register()" class="register__form">
            <div class="register__welcome">
              <h2 class="register__welcome-title">Rejestracja</h2>
            </div>
            <div class="form__container form__container--row">
              <label class="form__label">Płeć: </label>
              <label class="form__label">
                <input class="" type="radio" value="male" formControlName="gender">
                <span class="checkmark"></span>
                Mężczyzna
              </label>
              <label class="form__label">
                <input class="" type="radio" value="female" formControlName="gender">
                <span class="checkmark"></span>
                Kobieta
              </label>
            </div>
            <div class="form__container">
              <input class="form__input"
                type="text" formControlName="username" placeholder="Login">
              <div class="error" *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('required')">
                Login jest wymagany.
              </div>
            </div>
            <div class="form__container">
              <input class="form__input" placeholder="Pseudo" formControlName="knownAs">
              <div class="error"
                *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')">
                Ksywka jest wymagana.
              </div>
            </div>
            <div class="form__container">
              <input class="form__input" placeholder="Data urodzenia" formControlName="dateOfBirth" type="text" bsDatepicker>
              <div class="error"
                *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">
                Data urodzenia jest wymagana.
              </div>
            </div>

            <div class="form__container">
              <input class="form__input" placeholder="Miasto" formControlName="city">
              <div class="error"
                *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">
                Miasto jest wymagane.
              </div>
            </div>

            <div class="form__container">
              <input class="form__input" placeholder="Kraj" formControlName="country">
              <div class="error"
                *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">
                Kraj jest wymagany.
              </div>
            </div>

            <div class="form__container">
              <input class="form__input" type="password" formControlName="password" placeholder="Hasło">
              <div class="error"
                *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
                Hasło jest wymagane.
              </div>
              <div class="error"
                *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
                Hasło musi mieć minimum 4 znaki.
              </div>
              <div class="error"
                *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
                Hasło nie może przekraczać 8 znaków.
              </div>
            </div>
            <div class="form__container">
              <input class="form__input" type="password" formControlName="confirmPassword" placeholder="Potwierdź hasło">
              <div class="error"
                *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
                Hasło jest wymagane.
              </div>
              <div class="error"
                *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">
                Hasła nie pasują.
              </div>
            </div>
            <div class="form__container--buttons">
              <button class="button form__button" [disabled]="!registerForm.valid" type="submit">Zarejestruj</button>
              <button class="button form__button" type="button" (click)="cancel()">Anuluj</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
