<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <header class="about__header">
          <h1 class="header__title">O aplikacji informacje</h1>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="about__description">
            <h3 class="description__title">Aplikacja NotesForYou służy do tworzenia i zapisywania notatek.</h3>
            <p class="description__text">Rejestracja i korzystanie jest bezpłatne!</p>
          <p class="description__text">Jeśli chcesz sprawdzić jak działa aplikacja bez zakładania konta, użyj opcji wypróbuj notatkę.</p>
          <img src="../../../assets/images/write.gif" alt="pisanie" class="description__gif">
          <p class="description__text">Miłego używania mobilnych notatek!</p>
        </div>
      </div>
    </div>
  </div>
</section>
