@import '../../../scss/mixin';
@import '../../../scss/variables';
@import '../../../scss/typography';

.about{
  margin: 4em 0;
  font-family: 'Permanent Marker', cursive;

  .about__header{
    text-align: center;

    .header__title{
      font-size: 3em;
      text-transform: uppercase;
      color: $font-color-primary;
    }
  }

  .about__description{
    text-align: center;

    .description__title{
      margin: 2em auto;
    }

    .description__text{
      font-size: 1.5em;
    }
  }
}
